.imgspect {
	font-family: 'Lucida Console', 'Monaco', sans-serif;
	width: auto;
	background-color: #222;
	padding: 5px 5px 20px 5px;
}

.imgspect .view {
	height: 400px;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}

.imgspect .nav {
	float: left;
	max-width: 640px;
	max-height: 300px;
	display: block;
}

.imgspect .draw {
	float: left;
	position: absolute;
	display: block;
	vertical-align: baseline;
	max-width: none;
	max-height: none;
	margin-right: 10px;
	background-size: cover;
}

.imgspect .drag {
	position: absolute;
	z-index: 100;
	background-color: #FFF;
	opacity: .3;
	outline: 1px solid #444;
	border: 1px solid #BBB;
}

.imgspect .tool {
	font-size: 30px;
	display: block;
	float: left;
	margin-right: 5px;
}

.imgspect .lite {
	position: absolute;
}

.imgspect .colors {
	display: block;
}

.imgspect .color.selected {
	border: 1px solid #444;
	outline: 1px solid #BBB;
}

.imgspect .tools {
	float: left;
}

.imgspect .tools .group {
	display: block;
	clear: both;
}

.imgspect .tool {
	background-color: #444;
	color: #888888;
	margin-top: 5px;
	margin-bottom: 10px;
	text-decoration: none;
	padding: 2px 6px;
	font-size: 20px;
}

#drop .clicker:hover,
.imgspect .tool:hover {
	color: #FF8888;
}

.imgspect .output {
	color: #888;
	word-wrap: break-word;
	margin-right: 5px;
	border: none;
	outline: none;
	background-color: #111;
	padding: 6px 5px 4px 5px;
	width: 300px;
	overflow-y: scroll;
	text-align: left;
}

.imgspect .output pre {
	margin: 0;
	font-size: 12px;
}

.imgspect .center {
	width: 100%;
	text-align: center;
}

.imgspect .ui {
	display: inline-block;
	width: 955px;
}

#drop {
	width: 100%;
}
#drop .inner {
	background-color: rgba( 0, 0, 0, 0.8 );
	padding: 10px;
}
#drop .inner .imgbit {
	margin: 10px;
}
#drop .clicker {
	display: block;
	width: 100%;
	text-align: center;
	text-decoration: none;
	background-color: rgba( 25, 25, 25, 0.9 );
	color: #666;
	padding: 5px 0;
	font-family: 'Lucida Console', 'Monaco', sans-serif;
	font-size: 25px;
}